<a href="https://colab.research.google.com/github/nich02/AccountFraud/blob/main/GetData_CrimeDC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# From Web API in JSON Format to Pandas with Pyhon - A Working Example

By: Justin Chae | @justinhchae | https://medium.com/@jhc154 | https://www.linkedin.com/in/justin-chae

A working example of getting JSON data from an Open Data site with Python into a Pandas Dataframe.

# **Step 0 - Import and Install Libraries**

In [ ]:
# to handle  data retrieval 
import urllib3
from urllib3 import request

# to handle certificate verification
import certifi

# to manage json data
import json

# for pandas dataframes
import pandas as pd

# uncomment below if installation needed (not necessary in Colab)
#!pip install certifi

# **Step 1 - Set Up Handler for Certificates and SSL Warnings**

In [ ]:
# handle certificate verification and SSL warnings: 
# reference https://urllib3.readthedocs.io/en/latest/user-guide.html#ssl
http = urllib3.PoolManager(
    cert_reqs='CERT_REQUIRED',
    ca_certs=certifi.where())

# **Step 2 - Get Data from Web API with Requests**

In [ ]:
# get data from the API; replace url with target source
url = 'https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/2/query?where=1%3D1&outFields=*&outSR=4326&f=json'
r = http.request('GET', url)
r.status

200

# **Step 3 - Decode JSON Data to a Dict**

In [ ]:
# decode json data into a dict object
data = json.loads(r.data.decode('utf-8'))

# uncomment below to print all data in json format
#data

# **Step 4 - Normalize the data dict into a DataFrame**

In [ ]:
# normalize the data dict and read it into a dataframe
# in this dataset, the data to extract is under 'features'
df = pd.json_normalize(data, 'features')

# print the first rows and header of the dataframe
df.head(10)

  attributes.CCN  attributes.REPORT_DAT  ... geometry.x geometry.y
0       20068794          1588868931000  ... -77.003519  38.907833
1       20068811          1588869665000  ... -77.001304  38.873782
2       20068818          1588882492000  ... -76.927702  38.895812
3       20068820          1588869357000  ... -76.981377  38.926560
4       20068821          1588868832000  ... -76.950616  38.865312
5       20068833          1588890815000  ... -76.997316  38.900203
6       20068845          1588872817000  ... -77.056309  38.933503
7       20068847          1588913246000  ... -76.993152  38.922219
8       20068850          1588887822000  ... -76.922956  38.903484
9       20068858          1588872841000  ... -77.070284  38.906290

[10 rows x 25 columns]